.main-container {
    width: 100%;
    min-height: 800px;
}

.chat-container {
    margin: 50px auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    font-family: Arial, sans-serif;
    height: 100%;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 2px 10px;
}

.chat-messages {
    height: 100%;
    min-height: 400px;
    overflow-y: scroll;
    padding: 10px;
}

.chat-message {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px 0px;

}
.chat-message p{
    padding: 1px 0px;
    margin: 0;
}


.chat-reply {
    justify-content: flex-start;
}

.chat-question {
}

.chat-reply  {
    background-color: #4e83ee;
    color: white;
}

.chat-input {
    text-align: center;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.chat-input input {
    line-height: 30px;
    width: 300px;
}

.chat-input .send-btn {
    line-height: 30px;
}

.chat-message-container {
    list-style: none;
    padding: 0;
}

.chat-img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
